.toast-message {
  position: fixed;
  bottom: 100px;
  left: 100px;
  height: 50px;
  font-size: 24px;
  font-family: Calibri, Tahoma, Verdana, sans-serif;
  background-color: #0fa0d2;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  padding-left: 10px; }
  .toast-message span {
    margin-right: 15px;
    font-weight: bold; }
  .toast-message div {
    align-self: stretch;
    width: 50px;
    line-height: 50px;
    text-align: center; }
    .toast-message div:hover {
      cursor: pointer; }
    .toast-message div:last-of-type {
      background-color: #d2300f; }
      .toast-message div:last-of-type:hover {
        background-color: #d2300f; }
    .toast-message div:first-of-type {
      background-color: #25ef46; }
      .toast-message div:first-of-type:hover {
        background-color: #0ca225; }
@charset "UTF-8";
app-root {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%; }

a, a:active, a:visited, a:hover {
  color: #0fa0d2;
  text-decoration: underline; }

.page-break {
  display: none; }

.page-break-cheat {
  display: none; }

.screen-only {
  display: block !important; }

.print-only {
  display: none !important; }

@media print {
  .screen-only {
    display: none !important; }
  .print-only {
    display: block !important; }
  a[target="_blank"] .print-only {
    display: inline-block !important; }
  .page-break {
    display: block;
    page-break-before: always !important; }
  .page-break-cheat {
    display: block; } }

.page-grid {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas: "s11 container s12";
  margin: -15px 0 50px 0; }
  @media print {
    .page-grid {
      margin: -15px 0 0 0; } }
  .page-grid .content--section {
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0 220px auto;
    grid-row-gap: 15px;
    grid-template-areas: "s21" "header" "content"; }
    .page-grid .content--section .header {
      grid-area: header;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas: "left right";
      grid-gap: 20px;
      justify-items: center;
      align-items: center; }
      .page-grid .content--section .header .picture {
        grid-area: left;
        display: grid;
        align-items: center;
        justify-content: center; }
        .page-grid .content--section .header .picture img {
          width: 200px;
          border-radius: 50%;
          border: 4px solid #0fa0d2; }
      .page-grid .content--section .header .name {
        font-size: 24px;
        justify-self: flex-start;
        font-family: Calibri, Tahoma, Verdana, sans-serif; }
        .page-grid .content--section .header .name h1 {
          margin: 0;
          font-family: Calibri, Tahoma, Verdana, sans-serif; }
    .page-grid .content--section .content {
      grid-area: content;
      font-family: Calibri, Tahoma, Verdana, sans-serif;
      display: grid;
      grid-auto-rows: auto;
      grid-row-gap: 20px; }
      .page-grid .content--section .content fieldset[class$="--wrapper"] {
        border: none;
        border-top: solid #555 2px; }
        .page-grid .content--section .content fieldset[class$="--wrapper"] legend {
          font-family: Calibri, Tahoma, Verdana, sans-serif;
          padding: 0 8px;
          font-size: 36px; }
          .page-grid .content--section .content fieldset[class$="--wrapper"] legend i {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: #0fa0d2;
            border-radius: 50%;
            height: 60px;
            width: 60px; }
        .page-grid .content--section .content fieldset[class$="--wrapper"] > div {
          font-size: 15px; }
          .page-grid .content--section .content fieldset[class$="--wrapper"] > div.data-grid {
            display: grid;
            grid-auto-rows: 1fr;
            grid-row-gap: 8px;
            font-size: 15px; }
          .page-grid .content--section .content fieldset[class$="--wrapper"] > div > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: 150px 1fr auto;
            grid-template-areas: "left-li middle-li right-li"; }
            .page-grid .content--section .content fieldset[class$="--wrapper"] > div > ul:nth-of-type(even) {
              background-color: #eaeaea; }
            .page-grid .content--section .content fieldset[class$="--wrapper"] > div > ul li:nth-of-type(2) {
              font-weight: bold; }
            .page-grid .content--section .content fieldset[class$="--wrapper"] > div > ul li {
              padding: 2px 10px;
              color: #000;
              text-decoration: none; }
      .page-grid .content--section .content .person-data--wrapper .person-data {
        font-size: 17xpx;
        display: grid;
        align-content: center;
        grid-template-columns: auto auto;
        grid-auto-rows: auto;
        grid-row-gap: 5px;
        grid-column-gap: 40px; }
        .page-grid .content--section .content .person-data--wrapper .person-data div {
          display: grid;
          grid-template-columns: 100px auto; }
          .page-grid .content--section .content .person-data--wrapper .person-data div label {
            font-weight: bold; }
      .page-grid .content--section .content .links--wrapper .links {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 120px;
        grid-row-gap: 10px; }
        @media print {
          .page-grid .content--section .content .links--wrapper .links {
            grid-template-columns: auto; } }
        .page-grid .content--section .content .links--wrapper .links a {
          font-size: 18px;
          font-weight: bold;
          text-decoration: none; }
          .page-grid .content--section .content .links--wrapper .links a i {
            font-size: 24px; }
      .page-grid .content--section .content .skills--wrapper .skills {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: auto;
        grid-row-gap: 20px;
        grid-template-areas: "legend legend";
        justify-content: space-evenly; }
        @media print {
          .page-grid .content--section .content .skills--wrapper .skills {
            grid-column-gap: 30px; } }
        .page-grid .content--section .content .skills--wrapper .skills header.legend {
          grid-area: legend; }
          .page-grid .content--section .content .skills--wrapper .skills header.legend ul {
            display: grid;
            grid-auto-flow: column;
            grid-column-gap: 20px;
            justify-content: space-between;
            padding: 0;
            list-style: none; }
            .page-grid .content--section .content .skills--wrapper .skills header.legend ul li {
              display: grid;
              grid-template-columns: auto auto;
              grid-template-rows: auto;
              justify-content: space-between;
              justify-content: flex-start;
              grid-column-gap: 5px;
              line-height: 12px; }
              .page-grid .content--section .content .skills--wrapper .skills header.legend ul li span[class*='1']:before {
                content: "\F005"; }
              .page-grid .content--section .content .skills--wrapper .skills header.legend ul li span[class*='2']:before {
                content: "\F005\F005"; }
              .page-grid .content--section .content .skills--wrapper .skills header.legend ul li span[class*='3']:before {
                content: "\F005\F005\F005"; }
              .page-grid .content--section .content .skills--wrapper .skills header.legend ul li span:first-child {
                font-size: 12px;
                color: #0fa0d2; }
              .page-grid .content--section .content .skills--wrapper .skills header.legend ul li span[class$="+"] {
                color: #a0d20f; }
        .page-grid .content--section .content .skills--wrapper .skills [class$="--skills"] h3 {
          margin: 0 0 10px 0; }
        .page-grid .content--section .content .skills--wrapper .skills [class$="--skills"] ul {
          display: grid;
          grid-auto-flow: row;
          grid-row-gap: 5px;
          padding: 0;
          margin: 0;
          list-style: none; }
          .page-grid .content--section .content .skills--wrapper .skills [class$="--skills"] ul li {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            justify-content: space-between; }
            .page-grid .content--section .content .skills--wrapper .skills [class$="--skills"] ul li span[class*='1']:before {
              content: "\F005"; }
            .page-grid .content--section .content .skills--wrapper .skills [class$="--skills"] ul li span[class*='2']:before {
              content: "\F005\F005"; }
            .page-grid .content--section .content .skills--wrapper .skills [class$="--skills"] ul li span[class*='3']:before {
              content: "\F005\F005\F005"; }
            .page-grid .content--section .content .skills--wrapper .skills [class$="--skills"] ul li span:first-child {
              font-size: 12px;
              color: #0fa0d2; }
            .page-grid .content--section .content .skills--wrapper .skills [class$="--skills"] ul li span[class$="+"] {
              color: #a0d20f; }
    .page-grid .content--section .footer {
      margin-top: 20px;
      grid-area: footer;
      text-align: center; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/