@import "variables";

@mixin xs-media ($target: screen){
    @media #{$target} and (max-width: calc($xsSize - 1)) {
        @content;
    }
}

@mixin sm-media ($target: all){
    @media #{$target} and (min-width: $xsSize){
        @content;
    }
}

@mixin md-media ($target: all){
    @media #{$target} and (min-width: $mdSize) {
        @content;
    }
}

@mixin lg-media ($target: all){
    @media #{$target} and (min-width: $lgSize)  {
        @content;
    }
}

@mixin xl-media($target: all) {
    @media #{$target} and (min-width: $xlSize) {
        @content;
    }
}

@mixin media-print {
    @media print {
        @content;
    }
}

@mixin levels {
    @for $i from 1 through 3 {
        span#{"[class*='" + $i + "']"}:before {
            @if $i == 1 {
                content: $levelRatingIcon;
            }
            @if $i == 2 {
                content: "#{$levelRatingIcon}#{$levelRatingIcon}";
            }
            @if $i == 3 {
                content: "#{$levelRatingIcon}#{$levelRatingIcon}#{$levelRatingIcon}";
            }
        }
    }
}


@mixin custom-fieldset {
    border: none;
    border-top: solid $commonGray 2px;

    legend {
        font-family: $mainFont;
        padding: 0 8px;
        font-size: 30px;
        background-color: $backColor;

        @include md-media {
            font-size: 36px;
        }

        i {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            color: $icoForeground;
            background-color: $icoBackground;
            border-radius: 50%;
            height: 50px;
            width: 50px;

            @include md-media {
                height: 60px;
                width: 60px;
            }
        }
    }

    legend + div {
        margin-top: 10px;
    }
}

@mixin ul-styling {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "project-date project-role" "project-desc project-desc";
    grid-row-gap: 10px;

    @include md-media {
        grid-template-columns: 150px 1fr auto;
        grid-template-areas: "project-date project-desc project-role";
        grid-template-rows: none;
    }

    li:nth-of-type(1) {
        grid-area: project-date;
    }

    li:nth-of-type(2) {
        grid-area: project-desc;
        font-weight: bold;
    }

    li:nth-of-type(3) {
        grid-area: project-role;
    }

    li {
        padding: 2px 10px;
        color: #000;
        text-decoration: none;
    }
}

@mixin li-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    align-items: center;

    @include md-media {
        justify-content: space-between;
        grid-template-columns: auto auto;
    }

    @include levels;

    span:first-child {
        font-size: 12px;
        color: $starColor;
        justify-self: end;
    }

    span:last-child {
        justify-self: start;
    }


    span[class$="+"] {
        color: $superStarColor;
    }
}
