$backColor: #f7f7f7;
// $themeColor: rgb(15, 160, 210);
$themeColor: #f00;
$starColor: $themeColor;
$superStarColor: rgb(160, 210, 15);

$icoForeground: #fff;
$icoBackground: $themeColor;

$commonGray: #555;

$mainFont: Calibri, Tahoma, Verdana, sans-serif;

$textFontSize: 15px;

$levelRatingIcon: '\F005';